<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý bài đánh giá</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <div class="container mt-4">
        <h2>Danh sách bài đánh giá</h2>

        <a class="btn btn-primary mb-3"
           th:href="@{'/admin/courses/' + ${courseId} + '/assessments/add'}">Thêm đánh giá</a>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th  scope="col">Tiêu đề</th>
                    <th  scope="col">Loại</th>
                    <th  scope="col">Ngày mở</th>
                    <th  scope="col">Hạn nộp</th>
                    <th  scope="col">Điểm</th>
                    <th  scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a : ${assessments}">
                    <td th:text="${a.title}"></td>
                    <td th:text="${a.assessmentType}"></td>
                    <td th:text="${#dates.format(a.availableAt, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#dates.format(a.dueAt, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="0/${a.points}"></td>
                    <td>
                        <a class="btn btn-success btn-sm"
                           th:href="@{'/admin/courses/' + ${courseId} + '/assessments/edit/' + ${a.assessmentId}}">Sửa</a>

                        <!-- Bạn có thể thêm chức năng sửa sau -->
                        <a th:href="@{'/admin/courses/' + ${courseId} + '/assessments/delete/' + ${a.assessmentId}}"
                           class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>

