/* Card Course  */
.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: 0.9em;
  min-height: 70px;
}

.card-info {
  font-size: 0.85em;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}